$yellow: #ffcf0a;
$white:$fcfeff;
$dark:#151a1c;
$grey:#c9cecf;
$black:#151a1c;
@font-face {
    font-family: PPBold;
    src: url("PPNeueMachina-Ultrabold.woff2");
}
@font-face {
    font-family: PPRegular;
    src: url("PPNeueMachina-Regular.woff2");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}