.free {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  padding: 100px 0;
  & > div {
    border-radius: 20px;
    & p {
      font-family: PPBold;
      font-size: 40px;
      padding: 30px;
    }
  }
  & .up {
    background-color: $yellow;
  }
  & .it-is-free {
    background-color: $dark;
    & p {
      color: $white;
    }
  }
}
