.hero {
  height: 70.5vh;
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 120px;
  & .inner-hero {
    text-align: center;
    & .hero-header {
      font-family: PPBold;
      font-size: 60px;
      margin-bottom: 25px;
    }
    & .hero-sub-header {
      font-size: 20px;
      & p {
        margin-top: 10px;
      }
    }
  }
  &:after {
    content: " ";
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: 0px;
    box-shadow: 50px -30px 0 0 $yellow;
    right: 0;
    z-index: 0;
    border-radius: 0% 50% 0% 0%;
  }
}
