.hero {
  height: 80.5vh;
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 120px;
  & .inner-hero {
    text-align: center;
    & .hero-header {
      font-family: PPBold;
      font-size: 70px;
      margin-bottom: 25px;
    }
    & .hero-sub-header {
      font-size: 20px;
      & p {
        margin-top: 10px;
      }
    }
    & a {
      display: inline-block;
      text-decoration: none;
      color: $yellow;
      background-color: $black;
      padding: 12px 40px;
      margin-top: 40px;
      border-radius: 5px;
      border: 2px solid $black;

      &:hover {
        background-color: $yellow;
        color: $black;
      }
    }
  }
  &:after {
    content: " ";
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: -74px;
    box-shadow: 50px -30px 0 0 $yellow;
    right: 0;
    z-index: 0;
    border-radius: 0% 50% 0% 0%;
  }
}
