.hero {
  height: 80vh;
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 120px;
  & .inner-hero {
    & .hero-header {
      font-family: PPBold;
      font-size: 60px;
      color: $black;
    }
  }
}
