.offer {
  margin:0 auto 60px auto;
  text-align: center;
  & .offer-head {
    font-size: 30px;
    font-family: PPBold;
    margin: 50px 0;
  }
  & .resoources-we-offer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin: auto;
    grid-gap:1rem;
    & p {
      border: 1px solid $black;
      padding: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
