.testimonies {
  background-color: $dark;
  padding: 50px 0 100px 0;
  & .testimonies-head {
    color: $white;
    text-align: center;
    font-size: 30px;
    font-family: PPBold;
    padding: 50px 0;
  }
  & .testimonies-inner {
    margin: auto;
    width: 70%;
    & .the-testimonies {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      & > div {
        border: 1px solid $yellow;
        border-radius: 10px;
        padding: 30px;
        & .testimony-body {
          color: $grey;
          margin-bottom: 30px;
        }
        & .person-name {
          color: $white;
        }
        & .person-position {
          color: $grey;
        }
      }
    }
    & .top-quote {
      margin-bottom: 20px;
    }
    & .bottom-quote {
      text-align: right;
      margin-top: 20px;
    }
    & img {
      width: 2%;
    }
  }
}
