.wait {
  background-color: $yellow;
  & .wait-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    & .wait-about {
      & p {
        font-family: PPBold;
        font-size: 40px;
      }
      & a {
        display: inline-block;
        text-decoration: none;
        color: $yellow;
        background-color: $black;
        padding: 12px 40px;
        margin-top: 40px;
        border-radius: 5px;
        border: 2px solid $black;

        &:hover {
          background-color: $yellow;
          color: $black;
        }
      }
    }
  }
  & img {
    width: 50%;
  }
}
