@font-face {
  font-family: PPBold;
  src: url("../fonts/PPNeueMachina-Ultrabold.woff2");
}
@font-face {
  font-family: PPRegular;
  src: url("../fonts/PPNeueMachina-Regular.woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: PPRegular;
  color: #151a1c;
}

.hero {
  height: 70.5vh;
  background-color: #ffcf0a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 120px;
}
.hero .inner-hero {
  text-align: center;
}
.hero .inner-hero .hero-header {
  font-family: PPBold;
  font-size: 70px;
  margin-bottom: 25px;
}
.hero .inner-hero .hero-sub-header {
  font-size: 20px;
}
.hero .inner-hero .hero-sub-header p {
  margin-top: 10px;
}
.hero:after {
  content: " ";
  width: 220px;
  height: 220px;
  position: absolute;
  bottom: 0px;
  box-shadow: 50px -30px 0 0 #ffcf0a;
  right: 0;
  z-index: 0;
  border-radius: 0% 50% 0% 0%;
}